<script language="JavaScript">
<!--
s1 = "12";
n = 4;
result = s1 + n;
alert(result);
//-->
</script>

Testing the following script:<br>
<pre>
s1 = "12";
n = 4;
result = s1 + n;
alert(result);
</pre>

