<script language="JavaScript">
<!--
function Plus4(num)
{
	num += 4;
}
var i = 10;
Plus4(i);
alert(i);
//-->
</script>

Testing the following script:<br>
<pre>
function Plus4(num)
{
	num += 4;
}
var i = 10;
Plus4(i);
alert(i);
</pre>

