<script language="JavaScript">
<!--

var sum = 0;
var nextNumber = 0;

for (i=0; i<3; i++)
{
	nextNumber = prompt("Enter a number:", 0)
	nextNumber = parseInt(nextNumber)
	sum += nextNumber;
}
alert("The total is: "+sum);
//-->
</script>

Testing the following script:<br>
<pre>
var sum = 0;
var nextNumber = 0;

for (i=0; i<3; i++)
{
	nextNumber = prompt("Enter a number:", 0)
	nextNumber = parseInt(nextNumber)
	sum += nextNumber;
}
alert("The total is: "+sum);
</pre>

