<script language="JavaScript">
<!--
var sum = 0;
var nextNumber = 0;

for (i=0; i<3; i++)
{
	nextNumber = prompt("Enter a number:", 0)
	nextNumber = parseInt(nextNumber)
	sum += nextNumber;
}
if (sum == 100)
{ 
	alert("Bingo")
}
else
{
	alert("Not Bingo, I'm afraid!")
}
//-->
</script>

Testing the following script:<br>
<pre>
var sum = 0;
var nextNumber = 0;

for (i=0; i<3; i++)
{
	nextNumber = prompt("Enter a number:", 0)
	nextNumber = parseInt(nextNumber)
	sum += nextNumber;
}
if (sum == 100)
{ 
	alert("Bingo")
}
else
{
	alert("Not Bingo, I'm afraid!")
}
</pre>

