Demonstrating a 2-D array
<SCRIPT>

len = 3;
ray = new Array(len)

for (i=0; i<3; i++)
  ray[i] = new Array(4);

for (i=0; i<3; i++)
  for (j=0; j<4; j++)
    ray[i][j] = 42;


</SCRIPT>

<p>
<hr>
<p>
