What platform has the user ? &nbsp; &nbsp;

<script>

document.write(navigator.appVersion);

</script>
<p>
Checking for NT... 

<script>

function isItNT()
{
  s = navigator.appVersion;

  regexp = (navigator.appName == "Netscape") ? "WinNT" : "Windows NT"

  return (s.search(regexp, s) != -1);

}

  document.write( (isItNT()) ? "Yes, it is" : "No, it isnt")

</script>

<p>

Set <u>probably</u> includes:
Win16,
Win95,
WinNT,
X11,
...
<p>
<hr>
<p>

Playing, trying to find what ActiveX controls are installed
(doing this in IE, of course :)

<p>
<script>

//document.write("<br>property " + navigator.plugins + " is a " + typeof navigator.plugins + "<p>");

//document.write(typeof navigator);

for (foo in navigator)
{
//  document.write("Yo<br>");

  document.write("<br>property " + foo + " is a " + typeof navigator[foo]);
  document.write(" Its value is: " + navigator[foo]);

}
</script>
<hr>