<SCRIPT>
function getLastURL()
{
	// request privilege to read private browser information
  netscape.security.PrivilegeManager.enablePrivilege("UniversalBrowserRead");

	// access private information
  return history.previous;
}
</SCRIPT>
<FORM>
<INPUT TYPE="button" onClick="alert(getLastURL());" 
       VALUE="Show previous">
</FORM>
