
<!-- THREE STEPS TO INSTALL MONTHLY:  CURRENT TIME - DAY HIGHLIGHTED:

   1.  Paste the specified coding into the HEAD of your HTML document 
   2.  Add the onLoad event handler to the BODY tag
   3.  Put the last code into the BODY of your HTML document  -->

<!-- STEP ONE: Copy this code into the HEAD your HTML document  -->

<HEAD>

<SCRIPT LANGUAGE="JavaScript">

<!-- This script and many more are available online from -->
<!-- The JavaScript Source!! http://javascriptsource.com -->

<!-- Begin
var timerID = null;
var timerRunning = false;
function stopclock() {  
if(timerRunning)    
clearTimeout(timerID);  
timerRunning = false;
}
function startclock() {  
stopclock();  
showtime();
}
function showtime () {
var now = new Date();        
var hours = now.getHours();        
var minutes = now.getMinutes();        
var seconds = now.getSeconds()        
var timeValue = "" + ((hours >12) ? hours -12 :hours)        
timeValue += ((minutes < 10) ? ":0" : ":") + minutes        
timeValue += ((seconds < 10) ? ":0" : ":") + seconds        
timeValue += (hours >= 12) ? " P.M." : " A.M."
window.status = timeValue;        
timerID = setTimeout("showtime()",1000);        
timerRunning = true;
}
// End -->
</SCRIPT>

<!-- STEP TWO: Add this onLoad event handler to the BODY tag  -->

<BODY onLoad="startclock()">

<!-- STEP THREE: Copy this code into the BODY of your HTML document  -->

<CENTER>
<SCRIPT LANGUAGE="JavaScript">
<!--
function greeting(){   
var today = new Date();   
var hrs = today.getHours();   
document.writeln("<CENTER>");   
document.write("<H1>Good ");   
if (hrs < 6)      document.write("(Early) Morning");   
else if (hrs < 12)      document.write("Morning");   
else if (hrs <= 18)      document.write("Afternoon");   
else      document.write("Evening");   document.writeln("!</H1>");   
document.writeln("</CENTER>");   
document.writeln("<FONT SIZE+=4>");}
function montharr(m0, m1, m2, m3, m4, m5, m6, m7, m8, m9, m10, m11){   
this[0] = m0;   
this[1] = m1;   
this[2] = m2;   
this[3] = m3;   
this[4] = m4;   
this[5] = m5;   
this[6] = m6;   
this[7] = m7;   
this[8] = m8;   
this[9] = m9;   
this[10] = m10;   
this[11] = m11;
}
function calendar(){   
var monthNames = "JanFebMarAprMayJunJulAugSepOctNovDec";   
var today = new Date();   
var thisDay;   
var monthDays = new montharr(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);      
year = today.getYear() + 1900;   
thisDay = today.getDate();      
if (((year % 4 == 0) && (year % 100 != 0)) || (year % 400 == 0))
monthDays[1] = 29; 
nDays = monthDays[today.getMonth()];     
firstDay = today;   
firstDay.setDate(1);   
startDay = firstDay.getDay();        
document.writeln("<CENTER>");   
document.write("<TABLE BORDER>");   
document.write("<TR><TH COLSPAN=7>");   
document.write(monthNames.substring(today.getMonth() * 3,(today.getMonth() + 1) * 3));   
document.write(". ");   
document.write(year);   
document.write("<TR><TH>");   
document.write("Sun<TH>Mon<TH>Tue<TH>Wed<TH>Thu<TH>Fri<TH>Sat");      
document.write("<TR>");   column = 0;   for (i=0; i<startDay; i++)   {
document.write("<TD><FONT SIZE+=4>");      
column++;      
document.write("</FONT>");   
}
for (i=1; i<=nDays; i++)   {      
document.write("<TD>");      
if (i == thisDay)         
document.write("<FONT COLOR=\"#FF0000\" SIZE+=4>")      
document.write(i);      
if (i == thisDay)        
document.write("</FONT>")      
column++;      
if (column == 7)      {         
document.write("<TR>"); 
      
column = 0;      
}   
}   
document.write("</TABLE>");   
document.writeln("</CENTER>");
}
document.write("</FONT>");
calendar();
// End -->
</SCRIPT>
</CENTER>

<!-- Script Size:  3.73 KB  -->
