This is <b>Page 1</b>, click to load <b>Page 2</b> in another window.
<b>Page 2</b> will load <b>Page 3</b> in here, then kill its window.

<p>

<a href="page1.htm"
 onClick="window,open('page2.htm', 'fred', 'width=250,height=200')">

 Click Here</a>


