<center>
<form>

<h2>
 <input type=button value="Click Me, Click Me."

  onClick="opener.location.href='page3.htm'; self.close()">
</h2>

<!-- Incidentally, this use of <H2> is an undocumented feature
     which may or may not work in all browsers.  One is not
     supposed to be able to change the format of the button text. -->

</form>
</center>

<br><br>

<a href="page2.htm"
 onClick="opener.location.href='page3.htm';
 self.close()">

It also works as an &lt;A HREF</a>, but buttons are cool.
