<style type="text/css"> #layer1 { position: absolute;} </style>

Visit our <span id="layer1"><a href="home.htm">Home page</a></span>

<div id="help" style="position:absolute; top:300px; visibility:hidden;">
Click this link to return to our home page.
</div>

<script>
function highlight() {
	document.layer1.bgColor = "red";
	document.help.visibility = "visible";
}

function unHighlight() {
	document.layer1.bgColor = null;
	document.help.visibility = "hidden";
}

document.layer1.onMouseOver = highlight;
document.layer1.onMouseOut = unHighlight;
</script>