<SPAN ID="layer1" style="position:absolute">
  This is DHTML
</span>

<script>
var isNavigator = (navigator.appName == "Netscape")
                  && (parseInt(navigator.appVersion) == 4);
var layer1Style = (isNavigator) ? document.layer1
                                : document.all.layer1.style;

setTimeout("layer1Style.left = 100", 1000);
</script>